

<div class="container-fluid">
    <h1 class="header-title">happily ever after.</h1>
        <header class="row">
            <nav class="col-xs-4 col-md-4 col-xs-offset-4 col-md-offset-4 text-center">
                <ul class="nav nav-pills">
                    <li routerLinkActive="active"><a [routerLink]="['/home']">Our Wedding</a></li>
                    <li routerLinkActive="active"><a [routerLink]="['/details']">Details</a></li>
                    <li routerLinkActive="active"><a [routerLink]="['/photos']">Photo</a></li>
                    <li routerLinkActive="active"><a [routerLink]="['/rsvp']">RSVP</a></li>
                </ul>
            </nav>
        </header>
</div>